/* visual aesthetics styling */

body {
  background: #EFDCC8; 
}


h1 {
    color: #9d580e;
    margin-left: 40px;
}

.intro {
    margin-left: 70px;
    margin-right: 70px;
    font-size: 1.2rem;
}


/* Puzzle chat setup */

.chatroom {
    background-color: #e8c59e; 
    margin: 50px;
    padding: 10px;
}

.puzzle1 {
    background-color: rgb(255, 138, 138);
    padding: 10px;
    margin-bottom: 10px;
}

.puzzle2 {
    background-color: rgb(154, 255, 162);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.puzzle3 {
    background-color: rgb(150, 150, 255);
    padding: 10px;
    margin-top: 10px;
}

.chat-background {
    background-color: whitesmoke;
    margin: 4px;
    margin-left: 350px;
    margin-right: 350px;
    padding: 30px;
}

.bubble1 {
    background-color: rgb(65, 147, 246);
    position: relative;
    border-radius: .4em;
    padding: 10px;
    margin-right: 350px;
    font-size: 1.2rem;
}

.bubble1:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-right-color: rgb(65, 147, 246);
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px; 
    margin-left: -22px;
}

.bubble2 {
    background-color: rgb(130, 94, 226);
    position: relative;
    border-radius: .4em;
    padding: 10px;
    text-align: center;
    margin-left: 625px;
    font-size: 1.2rem;
}

.bubble2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-left-color: rgb(130, 94, 226);
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -22px;
}

.link {
    text-decoration: underline;
}

.note {
    background-color: palegoldenrod;
    padding: 30px;
    margin: 20px;
    margin-right: 350px; 
    margin-left: 350px;
    font-size: 1.1rem;
    
}

.button {
    background-color: rgb(184, 173, 255);
    border-radius: .4rem;
    padding: 15px;

}

.image-align {
    align-items: center;
}

/* nav-links styling */

.nav-links {
    display: flex;
    list-style: none;
    background: white;
    margin: 20px 20px 0px 1192px;
    padding: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #9d580e;
    background: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
    padding: 5px 10px;
}