/* visual aesthetics styling */

body {
  background: red;
}

/*
h2 {
    background: blue;
}

/* puzzle setup visuals */

.chatroom {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 4, 1fr;
    gap: 5px;
    height: 550px;
    background-color: purple;
    margin: 50px;
    padding: 15px;
}

.puzzle-side {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 4px;
}

.main-chat {
    background-color: white;
    grid-column: 2;
    grid-row: 1/5;
}

.puzzle1 {
    background-color: rgb(255, 138, 138);
}

.puzzle2 {
    background-color: rgb(154, 255, 162);
}

.puzzle3 {
    background-color: rgb(150, 150, 255);
}

/* nav-links styling */

.nav-links {
    display: flex;
    list-style: none;
    background: white;
    margin: 20px 20px 0px 1192px;
    padding: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: red;
    background: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
    padding: 5px 10px;
}