/* visual aesthetics styling */

body {
  background: #EFDCC8;
  
}


h1 {
    color: #9d580e;
    margin-left: 40px;
    font-family: 'Courier New'; 
}

.author {
    display: block;
    margin: auto;
    padding: 20px;

}

h2 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}


/* nav-links styling */

.nav-links {
    display: flex;
    list-style: none;
    background: white;
    margin: 20px 20px 0px 1500px;
    padding: 20px;
    font-family: 'Courier New'; 
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #9d580e;
    background: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
    padding: 5px 10px;
}